

    <div class="forum-topic{% if topic.solved %} is-solved{% endif %}">
        <div class="forum-avatar">
            <img src="{{ topic.author }}" alt="">
        </div>
        <div class="forum-topic__body">
            <a class="forum-topic__title" href="#">{{ topic.name }}</a>
            <div class="forum-topic__meta">
                <div class="forum-topic__tags">
                    {% for tag in topic.tags %}
                        {% if tag.parent %}
                            <a href="#" class="badge" style="background-color: {{ tag.parent.color }}">{{ tag.parent.name }}</a>
                        {% endif %}
                        <a href="#" class="badge">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                {% if topic.lastMessage %}
                    Répondre <a
                        href="#">{{ topic.lastMessage.author.username }}</a>, {{ topic.lastMessage.createdAt | ago }}
                {% else %}
                    <a
                            href="#">{{ topic.author.username }}</a>, {{ topic.createdAt | ago }}
                {% endif %}
            </div>
        </div>
        <div class="forum-topic__count">
            icon_commentaire
            {{ topic.messageCount }}
        </div>
        <a href="#" aria-hidden="true" class="forum-topic__link" tabindex="-1"></a>
    </div>

